html, body, #root, .container-fluid, .row{
    height: 100% !important
}

hr {
    border-color: skyblue !important;
}

input[type="time"]{
    max-width: 100px;
}

select{
    max-width: 180px;
}

.background {
    background:url('./XC2-background.jpeg');
    background-position-x: center;
    background-repeat: repeat;
}

.navigation-button {
    padding: 15px;
    font-size: x-large
}

.closed-navigation {
    height: 2vw;
    max-height: 30px;
    margin: 10px;
    position: absolute;
}

.open-navigation {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: skyblue;
    height: auto;
    padding: inherit !important;
    text-align: center;
    background-color: white;
}

.header {
    text-align: center;
    background: white;
    margin: 10vw;
    min-width:fit-content;
}

.collapsible-container {
    border-style: solid;
    border-width: medium;
    border-color:skyblue;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-header{
    padding: 15px;
    padding-top: 5px;
    background-color:skyblue;
    margin: 0px;
    color:#0056b3;
    cursor: pointer;
}

.container-contents {
    padding: 15px;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin: 0px !important;
}

.image-panel {
    border-style: solid;
    border-width: medium;
    border-color: skyblue;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
}

.character-image {
    height: 14vw;
    max-width: 280px;
    max-height: 250px;
    margin: auto;
    display: block;
}

.basic-info-image {
    height: 20vw;
    max-width: 230px;
    max-height: 208px;
    display: block;
    border-style: solid;
    border-width: thin;
    border-color: skyblue;
    border-radius: 10px;
    float: left;
    margin-right: 3vw;
    margin-left: 1vw;
}

.weapon-class-image {
    height: 14vw;
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: auto;
}

.image-name {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: skyblue;
    text-align: center;
    display: block;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(135, 206, 235, 0);
}

.image-panel:hover .overlay { 
    background: rgb(135, 206, 235, 0.2);
}

.peek-unlock-button{
    border: skyblue;
    border-radius: 10px;
    border-style: solid;
    height: 30%;
    width: 30%;
    opacity: 0;
    margin-top: 35%;
    margin-left: 13%;
}

.peek-unlock-button:hover {
    cursor: pointer
}

.image-panel:hover .peek-unlock-button {
    opacity: 1;
    border-width: medium;
    background: white;
}

.settings-names {
    margin: auto;
}

.chapter-input {
    width: 5vw;
}

.checkbox-layout {
    display: flex;
}

.increment-decrement-button {
    height: 18px;
    width: 18px;
    margin: 1vw;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-layout {
    display: flex;
    height: 40px;
}

.setting-row {
    margin-bottom: 10px;
}

.button-color{
    background-color: skyblue;
    border-color: skyblue;
    color: #0056b3;
    margin-left: 40%;
    margin-top: 10px;
}