html, body, #root, .container-fluid, .row{
    height: 100% !important
}

a {
    padding: 15px;
    font-size: x-large
}

hr {
    border-color: skyblue !important;
}

.background {
    background:url('./XC2-background.jpeg');
    background-position: center;
}

.open-navigation {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: skyblue;
    height: auto;
    padding: inherit !important;
    text-align: center;
    background-color: white;
}

.header {
    text-align: center;
    background: white;
    margin: 10vw;
    min-width:fit-content;
}

.collapsible-container {
    border-style: solid;
    border-width: medium;
    border-color:skyblue;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-header{
    padding: 15px;
    padding-top: 5px;
    background-color:skyblue;
    margin: 0px;
    color:#0056b3;
}

.container-contents {
    padding: 15px;
    padding-bottom: 0px;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin: 0px !important;
}

.character-image {
    width: 16vw;
    height: 16vw;
    max-width: 250px;
    max-height: 250px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    margin-right: auto;
    margin-left:auto
}

.character-name {
    text-align: center;
    margin-bottom: 15px;
}