html, body, #root, .container-fluid, .row{
    height: 100% !important
}

hr {
    border-color: skyblue !important;
}

input[type="time"]{
    max-width: 100px;
}

select{
    max-width: 180px;
}

.background {
    background:url('./XC2-background.jpeg');
    background-position-x: center;
    background-repeat: repeat;
}

.navigation-button {
    padding: 15px;
    font-size: x-large
}

.closed-navigation {
    height: 3vw;
    max-height: 30px; 
    max-width: 30px;
    margin: 10px;
    position: absolute;
}

.open-navigation {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: skyblue;
    height: auto;
    padding: inherit !important;
    text-align: center;
    background-color: white;
}

.close-details {
    float: right;
    height: 3vw;
    max-height: 30px; 
    max-width: 30px;
    margin: 10px;
}

.collapse-expand {
    height: 20px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.small-collapse-expand {
    height: 20px;
    width: 30px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
}

.art-name {
    font-size: larger
}

.driver-art-details-image {
    float: left;
    height: 14vw;
    max-width: 150px;
    max-height: 150px;
    margin: 10px;
    border-style: solid;
    border-width: medium;
    border-color: skyblue;
    border-radius: 10px;
}

.art-details-panel {
    border-bottom-style: solid;
    border-width: medium;
    border-color: skyblue;
    margin: 0px -15px 10px -15px;
    padding: 0px 15px 10px 15px;
}

.art-details-header {
    height: 15vw;

}

.header {
    text-align: center;
    background: white;
    margin: 10vw;
    min-width:fit-content;
}

.collapsible-container {
    border-style: solid;
    border-color:skyblue;
    border-radius: 10px;
    border-width: medium;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-header{
    padding: 15px;
    padding-top: 5px;
    background-color:skyblue;
    margin: 0px;
    color:#0056b3;
    cursor: pointer;
}

.container-contents {
    padding: 15px;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin: 0px !important;
}

.inner-collapsible-container {
    border-style: solid;
    border-color:skyblue;
    border-radius: 5px;
    border-width: thin;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner-container-header {
    background: aliceblue;
    padding: 5px;
    margin: 0px;
    color:#0056b3;
    cursor: pointer;
}

.inner-container-contents {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: skyblue;
    padding: 5px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px !important;
}

.stretched-sibling-panels {
    display: grid;
}

.image-panel {
    border-style: solid;
    border-width: medium;
    border-color: skyblue;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
}

.character-image {
    height: 14vw;
    max-width: 280px;
    max-height: 250px;
    margin: auto;
    display: block;
}

.basic-info-image {
    height: 20vw;
    max-width: 230px;
    max-height: 208px;
    display: block;
    border-style: solid;
    border-width: thin;
    border-color: skyblue;
    border-radius: 10px;
    float: left;
    margin-right: 3vw;
    margin-left: 1vw;
}

.weapon-class-image {
    height: 14vw;
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: auto;
}

.focused-panel {
    background: aliceblue;
}

.small-image {
    border-style: solid;
    border-width: thin;
    border-color: skyblue;
    border-radius: 5px;
    height: 7vw;
    max-width: 60px;
    max-height: 60px;
    display: inline;
    border-radius: 5px;
}

.centered-lock {
    height: 7vw;
    max-width: 60px;
    max-height: 75px;
    display: block;
    margin: auto;
}

.small-image-panel {
    margin-right: 10px;
    max-width: 60px;
    max-height: 60px;
    display: inline-block;
    position: relative;
}

.image-name {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: skyblue;
    text-align: center;
    display: block;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(135, 206, 235, 0);
}

.overlay:hover { 
    background: rgb(135, 206, 235, 0.2);
}

.centered-image{
    border: skyblue;
    border-radius: 10px;
    border-style: solid;
    opacity: 0;
    height: 50%;
    width: 50%;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.align-right {
    float: right;
}

.peek-unlock-button{
    border: skyblue;
    border-radius: 10px;
    border-style: solid;
    height: 30%;
    width: 30%;
    opacity: 0;
    margin-top: 33%;
    margin-left: 13%;
}

.peek-unlock-button:hover, .centered-image:hover {
    cursor: pointer
}

.image-panel:hover .peek-unlock-button, .overlay:hover .centered-image {
    opacity: 1;
    border-width: medium;
    background: white;
}

.small-image-panel:hover .peek-unlock-button, .art-detail-node:hover .peek-unlock-button {
    opacity: 1;
    border-width: medium;
    background: white;
    height: 50%;
    width: 50%;
    margin-top: 25%;
    margin-left: 0px;
}

.settings-names {
    margin: auto;
}

.chapter-input {
    width: 5vw;
}

.checkbox-layout {
    display: flex;
}

.art-description {
    border-style: solid;
    border-color:skyblue;
    border-radius: 10px;
    border-width: thin;
    padding: 5px;
    background: aliceblue;
    margin-top: 10px;
}

.art-detail-node {
    border-style: solid;
    border-width: medium;
    border-color: lightblue;
    border-radius: 5%;
    font-size: small;
    width: 12%;
    max-height: 110px;
    margin-left: 1%;
    position: relative;
    text-align: center;
}

.art-icon {
    border-style: solid;
    border-width: thin;
    border-color: lightblue;
    border-radius: 100%;
    width: 13%;
    max-width: 110px;
    max-height: 110px;
    margin-left: 2%;
}

.increment-decrement-button {
    height: 18px;
    width: 18px;
    margin: 1vw;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-layout {
    display: flex;
    height: 40px;
}

.setting-row {
    margin-bottom: 10px;
}

.button-color{
    background-color: skyblue;
    border-color: skyblue;
    color: #0056b3;
    margin-left: 40%;
    margin-top: 10px;
}