:root {
    --main-color: #0056b3;
    --secondary-color: #007bff;
}

html, body, #root, .container-fluid, .row{
    height: 100% !important
}

hr {
    border-color: var(--main-color) !important;
}

input[type="time"]{
    max-width: 100px;
}

select{
    max-width: 180px;
}

.background {
    background:url('./XC2-background.jpeg');
    background-position-x: center;
    background-repeat: repeat;
    height: auto !important;
    min-height: 100%;
}

.part-page {
    margin-left: 1%;
    width: calc(99% - 199px);
}

.full-page {
    margin-left: 1%;
    width: calc(99% - 62px);
}

.header {
    text-align: center;
    background: white;
    margin: 10vw;
    min-width:fit-content;
}

.align-right {
    float: right;
}

// ------------- loader -------------

.loading-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.loading-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--main-color);
    opacity: 0.5;
}

.loading-text {
    height:100%;
    width:100%;
    margin: 40% auto;
    position:absolute;
    text-align:center;
    font-size: x-large;
    font-weight: bold;
}

// ------------- navigation -------------

.navigation-button {
    padding: 5px 0px 5px 5px;
    font-size: x-large;
    color:white;

    &-text {
        width: 70px;
        display: inline;
    }
}

.navigation-button:hover {
    color: var(--secondary-color) !important;
    text-decoration: none;
}

.navigation-button-separator {
    border-color: var(--secondary-color) !important;
}

.closed-navigation {
    border-right-color: var(--secondary-color);
    border-right-style: solid;
    border-right-width: thin;
    height: auto;
    width: 51.75px;
    padding: inherit !important;
    text-align: left;
    background-color: var(--main-color);
}

.open-navigation {
    border-right-color: var(--secondary-color);
    border-right-style: solid;
    border-right-width: thin;
    height: auto;
    width:189px;
    padding: inherit !important;
    text-align: left;
    background-color: var(--main-color);
}

.sticky-navigation {
    position:fixed;
    max-width:188px;
}

// ------------- collapsible component -------------

.collapsible-container {
    border-style: solid;
    border-color:var(--main-color);
    border-radius: 10px;
    border-width: medium;
    margin-top: 15px;
    margin-bottom: 15px;
}

.art-details-panel {
    border-bottom-style: solid;
    border-width: medium;
    border-color: var(--main-color);;
    margin: 0px -15px 10px -15px;
    padding: 0px 15px 10px 15px;
}

.image-panel {
    border-style: solid;
    border-width: medium;
    border-color: var(--main-color);
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
}

// // ------------- close-open -------------
.collapse-expand {
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin: -5px auto;
    display: block;
}

.small-collapse-expand {
    height: 25px;
    width: 30px;
    cursor: pointer;
    margin-top: -5px;
    margin-right: 5px;
}

.close-details {
    float: right;
    height: 3vw;
    max-height: 30px; 
    max-width: 30px;
    margin: 10px;
    cursor: pointer;
}

// ------------- component header -------------

.container-header{
    padding: 15px;
    padding-top: 5px;
    background-color:var(--main-color);
    margin: 0px;
    color:white;
    cursor: pointer;
}

.inner-container-header {
    background: aliceblue;
    padding: 5px;
    margin: 0px;
    color:var(--main-color);
    cursor: pointer;
}

.image-name {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: var(--main-color);
    text-align: center;
    display: block;
}

// // ------------- driver art -------------

.art-name {
    font-size: larger
}

.art-details-header {
    height: 180px;
}

// ------------- image components -------------

// // ------------- small images (lock) -------------
.small-image {
    border-style: solid;
    border-width: thin;
    border-color: var(--main-color);
    border-radius: 5px;
    height: 7vw;
    max-width: 60px;
    max-height: 60px;
    display: inline;
    border-radius: 5px;
}

.small-image-panel {
    margin-right: 10px;
    max-width: 60px;
    max-height: 60px;
    display: inline-block;
    position: relative;
}

.navigation-image {
    height:30px;
    width:30px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: -10px;
}

.navigation-toggle {
    height:20px;
    width:20px;
    margin:0% 45%;
}

// // ------------- medium image (main image) -------------

.stretched-sibling-panels {
    display: grid;
}

.character-image {
    height: 14vw;
    max-width: 280px;
    max-height: 250px;
    margin: auto;
    display: block;
}

.weapon-class-image {
    height: 14vw;
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: auto;
    cursor: pointer;
}

.driver-art-details-image {
    float: left;
    height: 150px;
    max-width: 150px;
    margin: 10px;
    border-style: solid;
    border-width: medium;
    border-color: var(--main-color);
    border-radius: 10px;
}

.art-icon {
    border-style: solid;
    border-width: thin;
    border-color: lightblue;
    border-radius: 100%;
    width: 13%;
    height: 13%;
    max-width: 110px;
    max-height: 110px;
    margin-left: 2%;
}

// // ------------- large image (details) -------------

.basic-info-image {
    height: 20vw;
    max-width: 230px;
    max-height: 208px;
    display: block;
    border-style: solid;
    border-width: thin;
    border-color: var(--main-color);
    border-radius: 10px;
    float: left;
    margin-right: 3vw;
    margin-left: 1vw;
}

// -------------  container body -------------

.container-contents {
    padding: 15px;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin: 0px !important;
}

.inner-collapsible-container {
    border-style: solid;
    border-color:skyblue;
    border-radius: 5px;
    border-width: thin;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner-container-contents {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: skyblue;
    padding: 5px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px !important;
}

.focused-panel {
    background: aliceblue;
}

// // ------------- driver art details -------------

.art-description {
    border-style: solid;
    border-color:skyblue;
    border-radius: 10px;
    border-width: thin;
    padding: 5px;
    background: aliceblue;
    margin-top: 10px;
}

.art-detail-node {
    border-style: solid;
    border-width: medium;
    border-color: lightblue;
    border-radius: 5%;
    font-size: small;
    width: 12%;
    max-height: 110px;
    margin-left: 1%;
    position: relative;
    text-align: center;
}

.expended-description-header {
    border-bottom: skyblue solid 1px;
}

// ------------- lock-unlock component -------------

.centered-lock {
    height: 7vw;
    max-width: 60px;
    max-height: 75px;
    display: block;
    margin: auto;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(135, 206, 235, 0);
}

.overlay:hover { 
    background: rgb(135, 206, 235, 0.2);
}

.centered-image{
    border: skyblue;
    border-radius: 10px;
    border-style: solid;
    opacity: 0;
    height: 50%;
    width: 50%;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.peek-unlock-button{
    border: var(--main-color);
    border-radius: 10px;
    border-style: solid;
    height: 30%;
    width: 30%;
    opacity: 0;
    margin-top: 33%;
    margin-left: 13%;
}

.peek-unlock-button:hover, .centered-image:hover {
    cursor: pointer
}

.image-panel:hover .peek-unlock-button, .overlay:hover .centered-image {
    opacity: 1;
    border-width: medium;
    background: white;
}

.small-image-panel:hover .peek-unlock-button, .art-detail-node:hover .peek-unlock-button {
    opacity: 1;
    border-width: medium;
    background: white;
    height: 50%;
    width: 50%;
    margin-top: 25%;
    margin-left: 0px;
}

// forms - core story progress

.settings-names {
    margin: auto;
}

.chapter-input {
    width: 5vw;
}

.checkbox-layout {
    display: flex;
}

.increment-decrement-button {
    height: 18px;
    width: 18px;
    margin: 1vw;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-layout {
    display: flex;
    height: 40px;
}

.setting-row {
    margin-bottom: 10px;
}

.button-color{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
    margin-left: 40%;
    margin-top: 10px;
}
