:root {
    --main-color: rgb(0, 86, 179);
    --secondary-color: rgb(0, 123, 255);
    --very-light-blue: rgb(190, 216, 250);
    --main-color-o5: rgb(0, 86, 179, 0.5);
    --grey-main-color: rgb(101, 149, 201);
}

html, body, #root, .container-fluid, .row{
    height: 100% !important
}

hr {
    border-color: var(--main-color) !important;
}

input[type="time"]{
    max-width: 100px;
}

select{
    max-width: 180px;
}

.hoverPointer {
    cursor: pointer;
}

.centered {
    margin: 0px auto;
    width: fit-content;
}

.centeredFlex {
    justify-content: center;
}

.blockClick {
    cursor: not-allowed;
}

.background {
    background:url('./XC2-background.jpeg');
    background-position-x: center;
    background-repeat: repeat;
    height: auto !important;
    min-height: 100%;
}

.part-page {
    width: calc(100% - 180px);
}

.full-page {
    width: calc(100% - 60px);
}

.header {
    text-align: center;
    background: var(--main-color);
    color: white;
    margin-bottom: 10px;
    min-width:fit-content;
    position: relative;
    padding-bottom: 2px;
}

.align-right {
    float: right;
}

.sub-text {
    font-size: small;
    margin-top: auto;
    color: var(--grey-main-color);
}

// ------------- order by -------------
.order-by {
    border-radius: 5px;
    background:var(--main-color);
    color: white;
    width: fit-content;
    padding: 0px 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.order-title {
    margin: 0px 10px;
    font-weight: bold;
    color: var(--main-color);
}

.order-title-available {
    font-weight: bold;
    color: var(--main-color);
}

.order-by-expand {
    border-left-color: var(--secondary-color);
    border-left-style: solid;
    border-left-width: thin;
    height: 25px;
    width: 20px;
    margin-top: -5px;
    margin-left: 5px;
    padding-left: 5px;
}

.order-by-list {
    position: absolute;
    background: var(--main-color);
    color: white;
    z-index: 100;
    border-style: solid;
    border-color:var(--secondary-color);
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-width: thin;
    margin-top: -5px;

}

.order-by-option {
    text-align: center;
    border-style: solid;
    border-color:var(--main-color);
    border-width: thin;
    border-style: solid;
    padding: 0px 5px;
}

.sort-section {
    margin-top: -2px;
}

.sort-order {
    margin: 2px;
}

.sort-order-label {
    margin-top: 5px;
    margin-right: 5px;
    font-size: small;
}

// ------------- collapsible component -------------

.collapsible-container {
    border-style: solid;
    border-color:var(--main-color);
    border-radius: 10px;
    border-width: medium;
    margin: 15px;
}

.art-details-panel {
    border-bottom-style: solid;
    border-width: medium;
    border-color: var(--main-color);;
    margin: 0px -15px 10px -15px;
    padding: 0px 15px 10px 15px;
}

.character-image-panel {
    width: 180px;
    height: 185px;
    margin: 15px;
    display: block;
}

.image-panel {
    border-style: solid;
    border-width: medium;
    border-color: var(--main-color);
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

.not-unlocked-character {
    filter: grayscale(100%);
}

.not-unlocked {
    filter: grayscale(100%);

    &:hover {
        cursor: not-allowed !important;
    }
}

.fit-contents {
    height: fit-content;
}

// // ------------- character page details component -------------

.character-progress-details {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 20;

    .close-details {
        height: auto;
    }
}

.character-details-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--main-color);
    opacity: 0.5;
}

.character-details-layout {
    display: grid;
    margin: auto;
    border: solid medium var(--main-color);
    border-radius: 10px;
    padding: 10px 0px;
    width: 500px;
    justify-content: center;
    position: relative;
    background: white;
    top: 50%;
    transform: translateY(-50%);

    .basic-info-image {
        margin: auto;
    }
}

.character-details {
    text-align: center;
    width: inherit;
    padding: 20px;
}

.character-progress-close {
    position: absolute;
}

.centered-button {
    justify-content: center;
    display: flex;
}

.proceed-button {
    border: solid medium var(--main-color);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: 75px;
    background: var(--main-color);
    cursor: pointer;
}

.small-unlock-button,
.medium-unlock-button,
.large-unlock-button {
    position: relative;
    border: solid medium var(--main-color);
    border-radius: 10px;
    margin: 10px auto;
    width: 50px;
    height: 50px;
    background: white;
    cursor: pointer;

    .unlock-button-image {
        display: block;
        margin: 50% auto;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
    }
}

.medium-unlock-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 5px auto;

    .hover-options {
        top: 30px;
    }
    
    .unlock-button-image {
        width: 15px;
        height: 15px;
    }
}

.small-unlock-button {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: 0px;

    .hover-options {
        top: 15px;
    }
    
    .unlock-button-image {
        width: 12px;
        height: 12px;
    }
}

.disabledButton {
    cursor: not-allowed;
    background: var(--very-light-blue);
    border: solid medium var(--very-light-blue);
}

// // ------------- close-open -------------
.collapse-expand {
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin: -5px auto;
    display: block;
}

.small-collapse-expand {
    height: 25px;
    width: 30px;
    cursor: pointer;
    margin: auto 5px;
}

.close-details {
    float: right;
    height: 3vw;
    max-height: 30px; 
    max-width: 30px;
    margin: 10px;
    cursor: pointer;
}

// ------------- component header -------------

.container-header{
    padding: 15px;
    padding-top: 5px;
    background-color:var(--main-color);
    margin: 0px;
    color:white;
    cursor: pointer;
}

.inner-container-header {
    background: aliceblue;
    padding: 5px;
    margin: 0px;
    color:var(--main-color);
    cursor: pointer;
}

.image-name {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: var(--main-color);
    text-align: center;
    display: block;
}

// // ------------- driver art -------------

.art-name {
    font-size: larger
}

.art-details-header {
    height: 180px;
}

// -------------  container body -------------

.requirements-container {
    border: thin solid var(--secondary-color);
    border-radius: 5px;
    background: var(--very-light-blue);
    padding: 5px 10px;
    margin-top: 15px;
}

.text-list-entry {
    position: relative;
    .hover-container {
        display: none;
    }
    &:hover {
        .hover-container {
            display: block;
            position: absolute;
            border: thin solid var(--primary);
            border-radius: 5px;
            background: var(--very-light-blue);
            z-index: 10;
            top: 35px;
            width: 100%;
        }
    }
}

.container-contents {
    padding: 15px;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin: 0px !important;
}

.inner-collapsible-container {
    border-style: solid;
    border-color:skyblue;
    border-radius: 5px;
    border-width: thin;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner-container-contents {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: skyblue;
    padding: 5px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px !important;
}

.focused-panel {
    background: aliceblue;
}

// // ------------- driver art details -------------

.art-description {
    border-style: solid;
    border-color:skyblue;
    border-radius: 5px;
    border-width: thin;
    padding: 5px;
    background: aliceblue;
    margin-top: 10px;
}

.art-detail-node {
    border-style: solid;
    border-width: medium;
    border-color: lightblue;
    border-radius: 5%;
    font-size: small;
    width: 12%;
    max-height: 110px;
    margin-left: 1%;
    position: relative;
    text-align: center;
}

.expended-description-header {
    border-bottom: skyblue solid 1px;
}

// ------------- driver skill component -------------

.unlocked {
    background: var(--very-light-blue);
}

.unavailable {
    background: grey;
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: not-allowed;
    border-radius: 5px;
}

.driver-skill-branch-status {
    text-align: center;
}

.driver-skill-branch {
    display: flex;
    position: relative;
    margin: 5px 0px;
}

.driver-skill-node-container {
    display: flex;
    padding: 0px !important;
}

.driver-skill-node {
    width: 80%;
}

.driver-skill-node-details {
    border-radius: 5px;
    border-style: solid;
    border-width: medium;
    border-color: var(--main-color);
    padding: 5px;
    height: 100%;
}

.driver-skill-node-separator {
    border-style: solid;
    border-width: thin;
    border-color: var(--main-color);
    margin: auto;
    height:0px;
    width:20%;
}

// ------------- lock-unlock component -------------

.full-width {
    width:100%
}

.non-click {
    cursor: auto;
}

.centered-lock {
    height: 7vw;
    max-width: 60px;
    max-height: 75px;
    display: block;
    margin: auto;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(135, 206, 235, 0);
}

.overlay:hover { 
    background: rgb(135, 206, 235, 0.2);
}

.centered-image{
    border: skyblue;
    border-radius: 10px;
    border-style: solid;
    opacity: 0;
    height: 52px;
    width: 48px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center-buttons {
    display: flex;
    margin-right:auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .peek-unlock-button {
        margin: 10%;
    }
}

.peek-unlock-button{
    border: var(--main-color);
    border-radius: 10px;
    border-style: solid;
    height: 30%;
    width: auto;
    opacity: 0;
}

.peek-unlock-button:hover, .centered-image:hover {
    cursor: pointer
}

.image-panel:hover .peek-unlock-button, .overlay:hover .centered-image {
    opacity: 1;
    border-width: medium;
    background: white;
}

.small-image-panel:hover .center-buttons {
    margin-left:0px;
}
.small-image-panel:hover .peek-unlock-button, .art-detail-node:hover .peek-unlock-button {
    opacity: 1;
    border-width: medium;
    background: white;
    height: 50%;
    width: 50%;
    margin-top: 25%;
}

// ------------- forms - core story progress -------------

.checkbox-layout {
    display: flex;
    margin-top: -15px;
}

input[type="text"] {
    border: thin lightgray solid;
    text-align: center;
}

select,
input[type="time"] {
    margin-top: -3px !important;
    height: fit-content;
}

.spaced-increment {
    .row {
        margin-left: 0px;
        * {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

.increment-decrement-button {
    height: 18px;
    width: 18px;
    margin: 3px 15px;
    display: inline-block;
    vertical-align: middle;
}

img.increment-decrement-button {
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 3px;

    &:hover {
        cursor: pointer;
    }
}

.setting-row {
    margin-bottom: 10px;
}

.progress-update-row {
    margin: 5px 0px;
    padding-top: 10px;
    border-bottom: dashed thin var(--main-color);

    p {
        margin-top: -3px;
    }

    &:first-child {
        padding-top: 0px;
    }

    &:last-child {
        border-bottom: none;
    }
}

.button-color{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;

    &:hover {
        cursor: pointer;
    }
}

.number-slider {
    color: var(--main-color);

    b {
        margin: -3px 20px;
        color: var(--main-color);

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}

.number-slider.disabled {
    b {
        color: var(--main-color-o5);
    }

    .number-slider-node {
        border: solid medium var(--main-color-o5);

        &:hover {
            cursor: not-allowed;
        }
    }

    .number-slider-node.active {
        background: var(--main-color-o5);
    }

    .number-slider-node-current {
        background: var(--main-color-o5);
    }
}

.number-slider-node {
    margin: auto 5px;
    width: 20px;
    height: 20px;
    border: solid medium var(--main-color);
    border-radius: 50%;

    &:hover {
        cursor: pointer;
    }
}

.number-slider-node.active {
    background: var(--main-color);
}

.number-slider-node-current {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    margin: 2px;
    background: var(--main-color);
    border-radius: 50%;
}

// ------------- progress status -------------

.statusProgress {
    padding: 5px;
    border: solid thin var(--main-color);
    border-radius: 5px;
    margin: 5px 0px;
    hr {
        margin: 5px 0px;
    }

    .greyBar {
        width: 350px;
        height: 10px;
        margin: auto 10px;
    }
}

.statusHeader {
    display: flex;
}

.subStatus {
    border-bottom: dashed thin var(--main-color);
}

.progressAmount {
    margin-left: auto;
}

.greyBar {
    margin: 0px 10px 5px;
    width: auto;
    height: 16px;
    position: relative;
    border-radius: 5px;
    background-color: var(--very-light-blue);

    p {
        font-size: small;
        line-height: 14px;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

}

.obtained {
    height: inherit;
    border-radius: inherit;
    background-color: var(--main-color);
}

.detailedProgress {
    margin: 0px 0px 0px 40px;
}

// // ------------- blade details -------------

.basic-info-image-area {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.details-unlock-section {
    text-align: center;
    margin: 5px 15px;
}

.checkbox-inline {
    margin-bottom: 5px;
    .details-unlock-section {
        margin: -3px 5px;
        display: inline-block;
    }
}

.hover-options {
    position: absolute;
    left: -3px;
    top: 47px;
    box-shadow: 0px 0px 5px var(--grey-main-color);
    border-radius: 10px;
    background-color: var(--grey-main-color);
    z-index: 11;

    .hover-version {
        margin: 0px;
    }
}

// ------------- field skills -------------
.field-title {
    color: var(--main-color);
    padding: 0px 20px;
    text-align: center;
    min-width: 830px;
}

.field-skills {
    text-align: center;
    min-width: 800px;
}

// ------------- heart 2 heart -------------
.h2h-options {
    display: flex;
    border-bottom: solid thin var(--main-color);

    &:only-child {
        border-bottom: none
    }
}

.h2h-option-details {
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 10px;
    border-right: solid thin var(--main-color);

    &:last-child {
        border-right: none;
    }
}

.h2h-all-rewards {
    margin-top: 10px;
}

// ------------- quest components -------------
.quest-table {
    min-width: 750px;
}

.questStep {
    margin: 15px 10px;
    border: medium solid var(--main-color);
    border-radius: 10px;
    padding: 5px 10px;
}

.questDetails {
    display: flex;
}

.stepCompleted {
    background: var(--main-color-o5);
}

.stepBasics,
.stepDetails {
    margin: auto 5px;
}

.stepBasics {
    width: 50px;
    .details-unlock-section {
        margin: 0px;
    }

    p {
        margin: auto 0px;
    }
}

.stepDetails {
    width: 90%;
}

.questRouteHeader {
    width: inherit;
    display: block;
    text-align: center;
}

// ------------- item components -------------
.item-details {
  margin-left: 110px;
}

.item-details-line {
  border-style: dashed;
}