// // ------------- small images (lock) -------------
.small-image {
  border-style: solid;
  border-width: thin;
  border-color: var(--main-color);
  border-radius: 5px;
  height: 7vw;
  max-width: 60px;
  max-height: 60px;
  display: inline;
  border-radius: 5px;
}

.small-image-panel {
  margin-right: 10px;
  max-width: 60px;
  max-height: 60px;
  display: inline-block;
  position: relative;
}

.navigation-image {
  height:30px;
  width:30px;
  margin: 10px;
}

.refresh-image {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 20px;
  top: calc(50% - 15px);

  &:hover {
      cursor: pointer;
  }
}

.navigation-toggle {
  height:20px;
  width:20px;
  margin:0% 50%;
  transform: translateX(-50%);
}

.node-image {
  height:30px;
  width:30px;
  margin:auto;
  display:block;
  filter: invert(100%)
}

.extra-small-image {
  height:20px;
  width:20px;
  margin:auto;
  display:block;
  filter: brightness(0) invert(1);
}

.small-centered-borderless-image {
  height: 60px;
  width: auto;
  margin: auto;
  display: block;
}

.sort-icon {
  margin-left: 1px;
  width: 20px;

  &:hover {
    cursor: pointer;
  }
}

// // ------------- medium image (main image) -------------

.stretched-sibling-panels {
  display: grid;
}

.character-image {
  height: 14vw;
  max-width: 280px;
  max-height: 250px;
  margin: auto;
  display: block;
}

.weapon-class-image {
  height: 14vw;
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin: auto;
  cursor: pointer;
}

.driver-art-details-image {
  float: left;
  height: 150px;
  max-width: 150px;
  margin: 10px;
  border-style: solid;
  border-width: medium;
  border-color: var(--main-color);
  border-radius: 10px;
}

.art-icon {
  border-style: solid;
  border-width: thin;
  border-color: lightblue;
  border-radius: 100%;
  width: 13%;
  height: 13%;
  max-width: 110px;
  max-height: 110px;
  margin-left: 2%;
}

// // ------------- large image (details) -------------

.basic-info-image {
  height: 20vw;
  max-width: 230px;
  max-height: 208px;
  display: block;
  border-style: solid;
  border-width: thin;
  border-color: var(--main-color);
  border-radius: 10px;
  float: left;
}