.loading-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.loading-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--main-color);
  opacity: 0.5;
}

.loading-details {
  margin: 50vh 50vw;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;

}

.loading-text {
  width:max-content;
  text-align:center;
  font-size: x-large;
  font-weight: bold;
  margin: auto;
  border: medium solid var(--main-color);
  border-radius: 10px;
  background:  var(--main-color);
  padding: 10px 20px;
  color: white;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}

.loading-icon-image {
  width: 20vw;
  display: block;
  margin: 0px auto 10px;
  animation: rotation 6s infinite linear;
}

.small-loader {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;

  .loading-icon-image {
    width: 15vw;
  }

  .loading-text {
    font-size: large;
    padding: 5px 10px;
  }
}
